:root {
    --bg: #F5F7FA;
    --card: #D6E0EA;
    --text: #1E1E1E;
    --text-light: #6B7280;
    --primary: #1F3A5F;
    --container: #99adcc;
    --border: #1E293B;
    --header: #1E293B;
    --accent: #b1c0d8;
    --value: #0e3b9a;
}

body.dark {
    --bg: #0F172A;
    --card: #1E293B;
    --text: #F1F5F9;
    --text-light: #94A3B8;
    --primary: #1F3A5F;
    --container: #1F3A5F;
    --border: #F5F7FA;
    --header: #1E293B;
    --accent: #1F3A5F;
    --value: #38BDF8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background: var(--bg);
    color: var(--text);
    overflow-x: hidden;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
    margin-left: 260px;
}

.text-danger  { color: #EF4444; }
.text-success { color: #22C55E; }
.text-muted   { color: var(--text-light); }

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "☾";
    color: gray;
    align-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    height: 26px;
    width: 26px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #1F3A5F;
}

input:checked + .slider::before {
    transform: translateX(24px);
    content: "☀";
    color: gray;
    align-content: center;
    text-align: center;
}